* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px 20px;
}

header .separator {
    height: 1px;
    background-color: hsl(0deg 4% 82%);
}

.four {
    font-size: 1.75em;
    text-align: middle;
    color: red;
}

.content {
    display: flex;
    justify-content: center;

    padding: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    
    background-color: blue;
    border-radius: 8px;
}

.board-row {
    display: flex;
}

.board-cell {
    height: 50px;
    width: 50px;

    margin: 5px;
    
    background-color: white;
    box-shadow: inset -3px -3px 5px 3px #ccc;
    border-radius: 50%;
}


.red {
    background-color: red;
    box-shadow: 4px 10px 4px rgba(255, 255, 255, 0.4) inset;
}

.yellow {
    background-color: yellow;
    box-shadow: 4px 10px 4px rgba(255, 255, 255, 0.4) inset;
}

